
<!--<mat-card class="loginCard">
  <mat-card-content>
    <div class="header">
      <img src="assets/img/logo.svg" alt="Logo" class="logo">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>-->

<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/img/logo.svg" width="200"  />
          </div>
          <h1 class="text-center">Inicio de sesión</h1>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Correo</mat-label>
              <input required formControlName="email" matInput placeholder="Escriba su correo" />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input required formControlName="password" type="password" matInput placeholder="Escriba su contraseña" />
            </mat-form-field>
            <div class="container text-center mb20">
              <button mat-raised-button color="primary">Iniciar sesión</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
